<header class="container">
  <div class="vertical-center">
    <button (click)="highlight('main')"  [routerLink]="['']" class="options" 
    mat-raised-button [ngStyle]="route==='main_bucket' ? {'background': '#283593'} : {}">Photos</button>
    <button (click)="highlight('favorites')" [routerLink]="['favorites']" class="options" 
    mat-raised-button [ngStyle]="route==='favorites' ? {'background': '#283593'} : {}">Favorites</button>  
  </div>
</header>

<body>
  <router-outlet></router-outlet>
</body>
